*.pyc
__pycache__/
instance/
.env
venv/
*.pyo
*.pyd
.Python
db.sqlite3
*.sqlite3
logs/
*.log
*.pot
*.py[co]
coverage/
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
.dist/
.wheel/
.installed.cfg
eggs/
parts/
var/
sdist/
develop-eggs/
lib/
lib64/
pip-wheel-metadata/
__pypackages__/
